In [1]:
import csv

In [2]:
s=['sid','sname','city','contact']

In [3]:
records=[[1,'rudra','chalthan',7632590102],
         [2,'veer','bardoli',9722955429],
         [3,'niraj','surat',9026763218],
         [4,'dhruv','bharuch',5656521478],
         [5,'viraj','surat',693006761]]
p=[]

In [4]:
for i in range(5):
    sid=int(input("enter student id:"))
    sname=input("enter student name:")
    city=input("enter student city:")
    contact=int(input("enter student contact number:"))
    l=[sid,sname,city,contact]
    p.append(l)

enter student id:6
enter student name:vaidik
enter student city:mumbai
enter student contact number:5436777765
enter student id:7
enter student name:dhwanil
enter student city:jaipur
enter student contact number:5465767788
enter student id:8
enter student name:lux
enter student city:delhi
enter student contact number:4887766565
enter student id:9
enter student name:jinay
enter student city:surat
enter student contact number:8766546654
enter student id:10
enter student name:raj
enter student city:mumbai
enter student contact number:6474656555

In [5]:
with open('C:\sqlite3\student.csv','w',newline='') as f:
    file=csv.writer(f)
    file.writerow(s)
    file.writerows(records)
    file.writerows(p)

In [6]:
with open('C:\sqlite3\student.csv','r',newline='') as read:
    all_record=csv.reader(read)
    for records in all_record:
        print(records)

['sid', 'sname', 'city', 'contact']
['1', 'rudra', 'chalthan', '7632590102']
['2', 'veer', 'bardoli', '9722955429']
['3', 'niraj', 'surat', '9026763218']
['4', 'dhruv', 'bharuch', '5656521478']
['5', 'viraj', 'surat', '693006761']
['6', 'vaidik', 'mumbai', '5436777765']
['7', 'dhwanil', 'jaipur', '5465767788']
['8', 'lux', 'delhi', '4887766565']
['9', 'jinay', 'surat', '8766546654']
['10', 'raj', 'mumbai', '6474656555']